services:
  - type: web
    name: sql-dashboard-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_SSL_CA
        value: ./aiven-ca.crt
      - key: FRONTEND_URL
        sync: false
      - key: PORT
        value: 5000
