.line-chart-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.line-chart-wrapper {
  position: relative;
  height: 280px;
  margin: 15px 0;
}


.line-chart-container canvas {
  max-height: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .line-chart-wrapper {
    height: 250px;
  }
}
