
.navbar {
  background: white;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex: 1;
}

.navbar-brand-icon {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.navbar-brand span {
  color: #1a4aba;
  font-size: 1.50rem;
  font-weight: 700;
}


.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.navbar-menu li a {
  color: hsl(244, 54%, 60%);
  text-decoration: none;
  font-weight: 1000;
  font-size: 1.50rem;
  padding: 0.5rem 0;
  transition: all 0.2s ease;
  position: relative;

}


.navbar-menu li a:hover {
  color: #6366f1;
}

.navbar-menu li a.active {
  color: #6366f1;
  font-weight: 600;
}


.navbar-menu li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #6366f1;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.navbar-menu li a:hover::after {
  width: 100%;
}


.navbar-right {
  justify-self: end;
}


@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .navbar-brand {
    justify-content: center;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-menu li a {
    text-align: center;
  }
}